<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block page_title %} {% endblock page_title %}</title>
</head>
<body>
    <a href="{% url 'homepage' %}"> click me'</a>
    <a href="{% url 'contactus' %}"> contact us</a>
    <a href="{% url 'aboutus' %}"> about us</a>
    <h1> {% block page_h1 %} {% endblock page_h1 %}</h1>
    <h2> {% block page_h2 %} {% endblock page_h2 %}</h2>
{% block content %}
{% endblock content %}
</body>
</html>